body {
    background-color: #2D0302;
}

.titulo{
font-family: 'Cinzel Decorative', cursive;
color: #FFF;
}

.nome{
    font-family: 'Overpass', sans-serif; 
    color: #FFFF
}

.link{
    font-family:  'Overpass', sans-serif;
    color: #FFF;
}

